<a href="https://colab.research.google.com/github/JasmineElm/Notebooks/blob/master/grab_US_Netflix_Titles_on_1001M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_version 2:_

+ explicitly grabs the fields from the tables (rather than grabbing cell as a whole)
+ uses a different (netflix specific) list for comparison
+ no longer grabs unnesecary fields

In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from tabulate import tabulate #to export dataframe as markdown table

In [0]:
## grab our 1001 Movies List, download, and load into a dataframe 
url ='https://gist.githubusercontent.com/JasmineElm/ce8219c58bd416c0aec588a97e168221/raw/57717b4ae21f1721b2e1c22d2e8a74795e0e54d4/netflixTitles.csv'
r = requests.get(url)
filename = url.split('/')[-1]
 
with open(filename,'wb') as output_file:
    output_file.write(r.content)

ml=pd.read_csv(filename,index_col=[0])

In [0]:
#download the webpage holding the movielist
url='https://www.finder.com/netflix-movies'
diary = requests.get(url)
soup = BeautifulSoup(diary.text, "html.parser")

In [0]:
#generate a list of movies
outerList=[]
for row in soup.find_all('tr'):
  innerList=[]
  for cell in row.find_all('td',{"data-title": "Title"}):
   innerList.append(cell.find('b').text)
  for cell in row.find_all('td',{"data-title": "Year of release"}):
    innerList.append(cell.text)
  outerList.append(innerList)

In [45]:
#clean up our movie list
df=pd.DataFrame(data=outerList, columns=['Title','Year']).dropna().astype({'Year': 'int64'})

#merge it with the 1001 movies list
on_nf = pd.merge(ml, df,  how='inner', left_on=['Title','Year'], right_on = ['Title','Year'])

#generate a nice markdown table that can be pasted into Reddit
print(tabulate(on_nf.drop(['Metascore','Language','Country','IMDBRating', 'Plot','Awards','imdbID'],axis=1).sort_values('Title')
, tablefmt="pipe", headers="keys", showindex=False))

| Title                               | Genre                                      | Director                              |   Year |   Runtime |
|:------------------------------------|:-------------------------------------------|:--------------------------------------|-------:|----------:|
| 13TH                                | Documentary, Crime, History                | Ava DuVernay                          |   2016 |       100 |
| A Clockwork Orange                  | Crime, Drama, Sci-Fi                       | Stanley Kubrick                       |   1971 |       136 |
| A Separation                        | Crime, Drama, Family, Mystery              | Asghar Farhadi                        |   2011 |       123 |
| A.I. Artificial Intelligence        | Adventure, Drama, Sci-Fi                   | Steven Spielberg                      |   2001 |       146 |
| All the President's Men             | Biography, Drama, History, Thriller        | Alan J. Pakula                        |   1976 |       138 |
| Babel                               | Drama                                      | Alejandro G. Iñárritu                 |   2006 |       143 |
| Black Panther                       | Action, Adventure, Sci-Fi                  | Ryan Coogler                          |   2018 |       134 |
| Blue Is the Warmest Color           | Drama, Romance                             | Abdellatif Kechiche                   |   2013 |       180 |
| Bonnie and Clyde                    | Action, Biography, Crime, Drama            | Arthur Penn                           |   1967 |       111 |
| Boyhood                             | Drama                                      | Richard Linklater                     |   2014 |       165 |
| Cabaret                             | Drama, Musical                             | Bob Fosse                             |   1972 |       124 |
| Carrie                              | Horror                                     | Brian De Palma                        |   1976 |        98 |
| Crouching Tiger, Hidden Dragon      | Action, Adventure, Fantasy, Romance        | Ang Lee                               |   2000 |       120 |
| Deliverance                         | Adventure, Drama, Thriller                 | John Boorman                          |   1972 |       109 |
| Get Carter                          | Crime, Thriller                            | Mike Hodges                           |   1971 |       112 |
| Hell or High Water                  | Action, Crime, Drama, Thriller, Western    | David Mackenzie                       |   2016 |       102 |
| I, Daniel Blake                     | Drama                                      | Ken Loach                             |   2016 |       100 |
| Inglourious Basterds                | Adventure, Drama, War                      | Quentin Tarantino, Eli Roth           |   2009 |       153 |
| Lincoln                             | Biography, Drama, History, War             | Steven Spielberg                      |   2012 |       150 |
| Lock, Stock and Two Smoking Barrels | Comedy, Crime                              | Guy Ritchie                           |   1998 |       107 |
| Mean Streets                        | Crime, Drama, Thriller                     | Martin Scorsese                       |   1973 |       112 |
| Monty Python and the Holy Grail     | Adventure, Comedy, Fantasy                 | Terry Gilliam, Terry Jones            |   1975 |        91 |
| Moonlight                           | Drama                                      | Barry Jenkins                         |   2016 |       111 |
| Network                             | Drama                                      | Sidney Lumet                          |   1976 |       121 |
| No Country for Old Men              | Crime, Drama, Thriller                     | Ethan Coen, Joel Coen                 |   2007 |       122 |
| Once Upon a Time in America         | Crime, Drama                               | Sergio Leone                          |   1984 |       229 |
| Philadelphia                        | Drama                                      | Jonathan Demme                        |   1993 |       125 |
| Platoon                             | Drama, War                                 | Oliver Stone                          |   1986 |       120 |
| Poltergeist                         | Horror, Thriller                           | Tobe Hooper                           |   1982 |       114 |
| Pulp Fiction                        | Crime, Drama                               | Quentin Tarantino                     |   1994 |       154 |
| Rain Man                            | Drama                                      | Barry Levinson                        |   1988 |       133 |
| San Pietro                          | Documentary, Short, War                    | John Huston                           |   1945 |        32 |
| Scarface                            | Crime, Drama                               | Brian De Palma                        |   1983 |       170 |
| Schindler's List                    | Biography, Drama, History                  | Steven Spielberg                      |   1993 |       195 |
| Scream                              | Horror, Mystery                            | Wes Craven                            |   1996 |       111 |
| She's Gotta Have It                 | Comedy, Romance                            | Spike Lee                             |   1986 |        84 |
| Strangers on a Train                | Crime, Film-Noir, Thriller                 | Alfred Hitchcock                      |   1951 |       101 |
| Taxi Driver                         | Crime, Drama                               | Martin Scorsese                       |   1976 |       114 |
| The Aviator                         | Biography, Drama                           | Martin Scorsese                       |   2004 |       170 |
| The Dark Knight                     | Action, Crime, Drama, Thriller             | Christopher Nolan                     |   2008 |       152 |
| The Five Venoms                     | Action                                     | Cheh Chang                            |   1978 |        97 |
| The Graduate                        | Comedy, Drama, Romance                     | Mike Nichols                          |   1967 |       106 |
| The Hangover                        | Comedy                                     | Todd Phillips                         |   2009 |       100 |
| The Hurt Locker                     | Drama, Thriller, War                       | Kathryn Bigelow                       |   2008 |       131 |
| The King's Speech                   | Biography, Drama, History                  | Tom Hooper                            |   2010 |       118 |
| The Lives of Others                 | Drama, Thriller                            | Florian Henckel von Donnersmarck      |   2006 |       137 |
| The Look of Silence                 | Documentary, Biography, History            | Joshua Oppenheimer                    |   2014 |       103 |
| The Magnificent Ambersons           | Drama, Romance                             | Orson Welles, Fred Fleck, Robert Wise |   1942 |        88 |
| The Sixth Sense                     | Drama, Mystery, Thriller                   | M. Night Shyamalan                    |   1999 |       107 |
| The Stranger                        | Crime, Drama, Film-Noir, Mystery, Thriller | Orson Welles                          |   1946 |        95 |
| The Theory of Everything            | Biography, Drama, Romance                  | James Marsh                           |   2014 |       123 |
| The Third Man                       | Film-Noir, Mystery, Thriller               | Carol Reed                            |   1949 |        93 |
| Under the Shadow                    | Drama, Horror, Thriller, War               | Babak Anvari                          |   2016 |        84 |
| Under the Skin                      | Drama, Horror, Sci-Fi, Thriller            | Jonathan Glazer                       |   2013 |       108 |
| War Horse                           | Drama, History, War                        | Steven Spielberg                      |   2011 |       146 |
| Who's Afraid of Virginia Woolf?     | Drama                                      | Mike Nichols                          |   1966 |       131 |

In [23]:
df.head(20)

                                       Title  Year
1                                      #Roxy  2018
2                                  #Rucker50  2016
3                                    #Selfie  2014
4                                 #Selfie 69  2016
5                       #realityhighOriginal  2017
6                                        '89  2017
7                      'Til Death Do Us Part  2017
8                                   (T)ERROR  2015
9                           1 Chance 2 Dance  2014
10                             1 Mile to You  2017
11                            10 jours en or  2012
12                               10,000 B.C.  2008
13                      100 Days of Solitude  2018
14                                100 Meters  2016
15  100 Years: One Woman's Fight for Justice  2016
16                           1000 Rupee Note  2014
17                              12 ROUND GUN  2017
18                                13 Cameras  2015
19                                   13 Sins  2014
20                              13THOriginal  2016